@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: SourceSansPro-Regular, sans-serif;
    font-size: 10px;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 8px;
    }
  }
  .login-page {
    background: url("./../../assets/img/loginBg.webp");
    background-size: cover;
    height: 100vh;
  }
  
  .wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 10% 30px 0 30px;
  }
  
  .login {
    border-radius: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 50px;
    padding-top: 40px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: #fff;
  }
  .login__title {
    font-weight: bold;
    font-size: 4rem;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10%;
  }
  @media (max-width: 950px) {
    .login {
      width: 450px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
    }
  }
  @media (max-width: 768px) {
    .login {
      width: 400px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (max-width: 600px) {
    .login {
      width: 100%;
      max-width: 350px;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 370px) {
    .login {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
    position: relative;
  }
  .form__field::before {
    content: "";
    left: 5px;
    bottom: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("./../../assets/img/LoginBefore.png") center no-repeat;
    background-size: cover;
  }
  .form__label {
    font-family: Poppins-Regular;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    padding-left: 7px;
  }
  .form__input {
    border: none;
    font-size: 1.6rem;
    color: #333;
    height: 55px;
    padding-left: 30px;
    line-height: 1.2;
  }
  .form__forgot {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .form__forgot-link {
    font-family: Poppins-Regular;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #666;
    text-decoration: none;
  }
  
  .btn {
    font-weight: bold;
    border: none;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    background: red;
  }
  
  .sign-up {
    padding-top: 12%;
    text-align: center;
  }
  .sign-up__link {
    text-decoration: none;
    font-family: Poppins-Regular;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase;
  }